################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/enigma
/enigma/__pycache__

#Aquest apartat esta fet amb IA
