################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/enigma
/enigma/__pycache__

#FITXER GENERAT AMB IA
